/*video::-webkit-media-controls-fullscreen-button {
    display: none;
}*/
.screen{
  border-radius: 25px;
  padding:25px;
  background: rgba(255, 255, 255, 0.1);
}

video{
  height:100%;
  width:100%;
  margin:0 auto;
}

.viewer-label{
  font-size: 12px;
  margin : 0 2px;
  display: inline-block;
}
#viewerDiv{
  margin:3px;
}
