/* CSS declarations go here */
body {
  font-family: sans-serif;
  color:white;
  background-color: #131313;
  background-image: linear-gradient(to bottom, #000000, #323232 100%);
  /*background-image: -webkit-linear-gradient(bottom #000000, #323232 100%);*/
    background-attachment: fixed;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding:0;
  font-size: 14px;
}

.well{
  color:black;

}

.container{
  width:95%;
}
