#viewerDiv{
  margin:3px;
}

.viewer-label{
  font-size: 12.6px;
  margin : 0 1.5px;
  padding: .3em .6em;
  display: inline-block;

}

.fa-container{

  margin:0px;
  padding:0 3px;
  vertical-align: middle;
  text-align: center;
  font-size:20px;
}
